@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.done {
    width: 50px;
    height: 50px;
}

.number {
    width: 50px;
    height: 50px;
}

.insideCircle {
    height: 30px;
    width: 30px;
    color: #2196f3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 4px 2px #d8d8d8;
    border-radius: 50%;
}

@keyframes outline {
    from {
        stroke-dasharray: 0, 300px;
    }
    to {
        stroke-dasharray: 300px, 300px;
    }
}

#outline {
    animation: 0.38s ease-in outline;
    transform: rotate(0deg);
    transform-origin: center;
}

@keyframes circle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

#white-circle {
    animation: 0.35s ease-in 0.35s forwards circle;
    transform: none;
    transform-origin: center;
}

@keyframes check {
    from {
        stroke-dasharray: 0, 75px;
    }
    to {
        stroke-dasharray: 75px, 75px;
    }
}

#check {
    animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
    stroke-dasharray: 0, 75px;
}

@keyframes check-group {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.09);
    }

    to {
        transform: scale(1);
    }
}

#check-group {
    animation: 0.32s ease-in-out 1.03s check-group;
    transform-origin: center;
}

/*================================================================= 
header style 
=================================================================*/

.headerContainer {
    background-color: #2196f3;
    height: 120px;
    width: 100%;
}

.header {
    height: 120px;
    color: #ffffff;
}

.header h1 {
    font-size: 20px;
}

/*================================================================
button style 
================================================================*/

button {
    background-color: #2196f3;
}

/*================================================================ 
input field style 
================================================================*/

.inputBox {
    width: calc(100% - 50px);
    height: 50px;
    position: relative;
    overflow: hidden;
}

.inputBox input {
    width: 100%;
    height: 100%;
    color: #2196f3;
    font-size: 18px;
    padding-top: 20px;
    border: none;
    outline: none;
}

.inputBox label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #f6f6f6;
    color: #a6a4a2;
    font-size: 18px;
}

.inputBox label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #2196f3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.contentName {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.inputBox input:focus + .labelName .contentName,
.inputBox input:valid + .labelName .contentName {
    transform: translateY(-130%);
    font-size: 14px;
}

.inputBox input:focus + .labelName::after,
.inputBox input:valid + .labelName::after {
    transform: translateX(0%);
}

/*============================================================== 
 result style  
 ==============================================================*/

.result p {
    font-size: 25px;
    font-weight: bold;
    color: #2196f3;
    transition: all 0.3s ease;
}
